/* STYLE */

.calculator_container{
    display: grid;
    justify-items: center;
    width: 100%;
    margin-top: 100px;
}
.calculator{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "display display display display"
    "seven eight nine minus"
    "four five six plus"
    "one two three multiply"
    "zero clear result divide";
    grid-gap: 10px;
}
.calculator_screen{
    grid-area: display;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px 20px;
}
button{
    width: 50px;
    height: 50px;
}



